<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="/admin/visionMapper">
	
	<!-- list 조회 -->
	<select id="getadestList" parameterType="hashmap"  resultType="hashmap">
		SELECT 
			  cate1, 
			  cate2, 
			  tbl_vision.* 
		FROM  tbl_vision, tbl_cate 
		WHERE tbl_vision.cate = tbl_cate.idx 
		<if test="search_type eq 'cate1'.toString()">
			AND cate1 LIKE '%${search_name}%'
		</if>
		<if test="search_type eq 'cate2'.toString()">
			AND cate2 LIKE '%${search_name}%'
		</if>
		<if test="search_type eq 'contents'.toString()">
			tbl_vision.contents LIKE '%${search_name}%'
		</if> 
		<if test="search_type.equals('')">
			AND (cate1 LIKE '%${search_name}%' or cate2 LIKE '%${search_name}%' or tbl_vision.contents LIKE '%${search_name}%')
		</if>
			AND tbl_vision.submit_date BETWEEN '${start_date}000000' and '${finish_date}999999'
		<if test="!order_by.equals('') and !sort_type.equals('')">
			order by ${sort_type} ${order_by} 
		</if>
		limit ${s_rownum}, ${e_rownum}
	</select>
	
	<!-- 총갯수  -->
	<select id="getAdestCount" parameterType="hashmap" resultType="hashmap">
		SELECT 
			count(*) as CNT  
		FROM tbl_vision, 
			 tbl_cate 
		WHERE tbl_vision.cate = tbl_cate.idx 
		
		<if test="search_type eq 'cate1'.toString()">
			AND cate1 LIKE '%${search_name}%'
		</if>
		<if test="search_type eq 'cate2'.toString()">
			AND cate2 LIKE '%${search_name}%'
		</if>
		<if test="search_type eq 'contents'.toString()">
			tbl_vision.contents LIKE '%${search_name}%'
		</if>
		<if test="search_type.equals('')">
			AND (cate1 LIKE '%${search_name}%' or cate2 LIKE '%${search_name}%' or tbl_vision.contents LIKE '%${search_name}%')
		</if>
		AND tbl_vision.submit_date BETWEEN '${start_date}000000' and '${finish_date}999999'
	</select>
	
	<!-- 등록 -->
	<insert id="insAdestlist" parameterType="hashmap">
		INSERT into tbl_vision
		(
			cate,
			type,		contents,	  	pay,		min_pay,
			sort,		submit_date
		)
			VALUES
		(
			'${cate}',
			'${type}',	'${contents}',	'${pay}', 	'${min_pay}',
			'${sort}',	 now()+0
		)
	</insert>
	
	<!-- 대분류 드랍박스  -->
	<select id="getCate1" parameterType="hashmap"  resultType="hashmap">
		SELECT idx, cate1 FROM tbl_cate group by cate1
	</select>
	
	<!-- 중분류 드랍박스 -->
	<select id="getCate2" parameterType="hashmap"  resultType="hashmap">
		SELECT * FROM tbl_cate where cate1 = (select cate1 from tbl_cate where idx = '${idx}')
	</select>

	<!-- 게시글 단일 조회 -->
	<select id="getVisionListOne" parameterType="hashmap" resultType="hashmap">
		select *, (select cate2 from tbl_cate where idx = tbl_vision.cate) as cate2 from tbl_vision where idx = '${idx}'
	</select>
	
	<!-- 게시글 단일 조회(분류 타입) -->
	<select id="getCateListOne" parameterType="hashmap" resultType="hashmap">
		select * from tbl_cate where cate1 = (select cate1 from tbl_cate where idx = (select cate from tbl_vision where idx = '${idx}')) limit 1
	</select>
	
	<!-- 게시물 수정 -->
	<update id="editAdestList" parameterType="hashmap">
		UPDATE tbl_vision set
			cate 	 = 	'${cate}',
			type 	 =	'${type}',
			contents = 	'${contents}',
			pay 	 = 	'${pay}',
			min_pay  = 	'${pay}',
			sort 	 = 	'${sort}'
		where
			idx 	 = 	'${idx}'
	</update>
	
	<!-- 게시물 삭제 -->
	<delete id="delAdestList" parameterType="hashmap">
			DELETE from tbl_vision where idx = '${idx}'
	</delete>
</mapper>