.bd_tit {
	font-family:'LGSmHaSB', sans-serif;
	font-size:46px;
	color:#0a0a0a;
	margin-bottom:30px;
	text-align:center;
}
.bd_stit {
	font-size:20px;
	color:#383838;
	text-align:center;
	font-weight:300;
}
.bd_stit br {
	display:none;
}
#contact-sec01 .bd_stit br {
	display:block;
}
#contact-sec01 {
	padding:120px 30px;	
}
#contact-sec01 .contact_wr {

}
#contact-sec01 .form_wr {
	position: relative;
    max-width: 1420px;
    padding: 70px 80px;
    margin: 70px auto;
    background: #fafafa;
}
#contact-sec01 .contact_wr table, #contact-sec01 .contact_wr table tr, #contact-sec01 .contact_wr table tr th, .contact_wr table tr td {
    background: transparent !important;
	border-collapse: collapse;
    border-spacing: 0;
	border:0 !important;
}
#contact-sec01 .contact_wr div.row {
	width:100%;
	padding: 15px 0;
	margin-bottom:0;
	font-size:0;
}
#contact-sec01 .contact_wr div.row.first {
	padding-top:0;
}
#contact-sec01 .contact_wr div.row.last {
	padding-bottom:0;
	border-bottom:0;
}
#contact-sec01 .contact_wr div.row.two > div {
	display: inline-block;
	font-size:0;
}
#contact-sec01 .contact_wr div.row.two > div.key_name input, #contact-sec01 .contact_wr div.row.two > div.key_email input {
	max-width:230px;
}
#contact-sec01 .contact_wr div.row.two > div.key_phone input {
	width: calc((100% - 80px)/3);
    margin: 0 5px;
}
#contact-sec01 .contact_wr div.row.two > div.key_name {
	width:20%;
}
#contact-sec01 .contact_wr div.row.two > div.key_phone {
	width:28%;
	margin-right: 2%;
}
#contact-sec01 .contact_wr div.row.two > div.key_phone .key {
	padding-left: 10px;
}
#contact-sec01 .contact_wr div.row.two > div.key_email {
	width:50%;
}
#contact-sec01 .contact_wr div.row.last > div {
	display:block;
	width:100%;
}
#contact-sec01 .contact_wr div.row > div {
	display:block;	
}
#contact-sec01 .contact_wr div.key {
	font-size:18px;
	color:#333;
	font-weight:500;
	letter-spacing:-1px;
	margin-bottom: 10px;
}
#contact-sec01 .contact_wr div.key span {
	font-size:14px;
	color:rgba(237, 23, 77, 0.8);
}
#contact-sec01 .contact_wr div.value {
	font-size: 18px;
    color: #333;
}
#contact-sec01 .contact_wr div.value > p {
	font-size:15px;
}
#contact-sec01 .contact_wr div.row > div > div.key, #contact-sec01 .contact_wr div.row > div > div.value {
	display: block;
}

#contact-sec01 .contact_wr input, #contact-sec01 .contact_wr select {
	width:230px;
    height: 50px;
	padding: 12px 20px;
	font-size:16px;
	color:#666;
	box-shadow: 0px 28px 37.3px 8.7px rgba(84, 84, 84, 0.02);
    border-radius: 50px;
}
#contact-sec01 .contact_wr input:focus, #contact-sec01 .contact_wr select:focus {
	border: 1px solid #ed174d;
}
#contact-sec01 .contact_wr select {
	display:inline-block;
	width: calc(100% - 510px);
	appearance:none;
	-webkit-appearance:none;	
	background:#fff url('/img/web/img/select_arrow.png')no-repeat 85% center;
	background-size: 14px auto;
}
#contact-sec01 .contact_wr input[name="company"], #contact-sec01 .contact_wr input[name="persons"], #contact-sec01 .contact_wr input[name="phone"] {
	width:400px;
}
#contact-sec01 .contact_wr input[name="email1"], #contact-sec01 .contact_wr input[name="email2"] {
	display:inline-block;
	width:300px;
}
#contact-sec01 .contact_wr input[name="email1"] {
	margin-right:10px;
}
#contact-sec01 .contact_wr input[name="email2"] {
	margin:0 10px;
}
#contact-sec01 .contact_wr input[name="location"] {
    width:230px;
}
#contact-sec01 .contact_wr input[name="title"] {
    width:100%;
}
#contact-sec01 input[name *="goods"], #contact-sec01 input[name *="user_agree"] {
	display:none;
}
#contact-sec01 input[type="checkbox"] + label {
    background: url(/img/web/img/check_off.png)no-repeat left 2px;
    font-size: 17px;
    color: rgba(36, 36, 36, 0.8);
    font-weight: 400;
    padding-left: 30px;
    margin-right: 20px;
}
#contact-sec01 input[type="checkbox"]:checked + label {
   	background: url(/img/web/img/check_on.png)no-repeat left 3px;
    font-weight: 700;
    color: #242424;
}
#contact-sec01 .contact_wr input[type="file"] + label {
	position:absolute;
	width: 150px;
    height: 100%;
    right:0;
    top:0;
    border-radius: 25px;
   	background: #ed174d;
    color: #fff;
    padding: 13px 30px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
	cursor:pointer;
}
#contact-sec01 .contact_wr .file_box {
	position:relative;
	width:500px;
	height:50px;
}
#contact-sec01 .contact_wr .file_name {
	position:Absolute;
	width: 100%;
	height:100%;
    background: #fff;
    padding:12px 20px;
	font-size: 15px;
    color: rgba(51, 51, 51, 0.5);
    border-radius: 25px;
}
#contact-sec01 .contact_wr div.row.last > div.key {

}
#contact-sec01 textarea {
    width: 100%;
	height:289px;
	padding: 15px 20px !important;
    font-size: 16px !important;
    color: #666 !important;
    font-weight: 400 !important;
   	border-radius: 30px;
    border: 0;
}

#contact-sec01 .byte_cnt {
	display: table;
    width: 100%;
    text-align: right;
	margin-bottom:10px;
}
#contact-sec01 .byte_cnt > input[type="text"] {
	display: table-cell;
    vertical-align: middle;
    background: transparent !important;
    text-align: right;
	height: auto !important;
    border: 0 !important;
    padding: 3px 0 0 0 !important;
	font-family: 'Roboto', sans-serif !important;
	font-weight:300;
	font-size:16px !important;
	color:#434343 !important;
}
#contact-sec01 .byte_cnt > span {
    display: table-cell;
    vertical-align: middle;
    width: 75px;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size:16px;
	color:#434343;
}
#contact-sec01 .private_noti {
	position:relative;
	display: block;
    vertical-align: top;
	font-size:14px;
	color:rgba(237, 23, 77, 0.8);
	padding-left:10px;
	
}
#contact-sec01 .private_noti:before {
	content:'*';
	position:absolute;
	left:0;
	top:3px;
	font-size:14px;
	color:rgba(237, 23, 77, 0.8);
}
.btn_send {
	display:table;
	position:relative;
	margin:0 auto;
	width: 200px;
    height: 68px;
    margin-top: 60px;
    background: #ed174d;
	border-radius:34px;
	cursor:pointer;
	text-align:center;
	transition:all 0.5s;
}
.btn_send > a {
	display:Table-cell;
	vertical-align:middle;
	font-size:16px;
	font-weight:500;
	color:#fff !important;
}
.btn_send img {
	width: 7px;
    margin-left: 25px;
}



/*신한 마이샵파트너 페이지*/
.sh_myshop_wrap .bd_tit{
	margin-bottom: 0;
}

.sh_myshop_wrap .sub_tit4, .sh_myshop_wrap .sh_infoTxt{
	text-align: center;
}

.sh_myshop_wrap .sub_tit4{
	margin-bottom: 35px;
	font-weight: 600;
}

.sh_myshop_wrap .sh_infoTxt em{
	font-style: normal;
}

.shmyshop_logo{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}


.bottom-top-sh {
    transform: translate(0,100px);
    -webkit-transform: translate(0,100px);
    -moz-transform: translate(0,100px);
    -ms-transform: translate(0,100px);
    -o-transform: translate(0,100px);
}

.img-ani-sh {
    -webkit-transition: all 1s cubic-bezier(0,.72,.44,.99);
    -moz-transition: all 1s cubic-bezier(0,.72,.44,.99);
    -ms-transition: all 1s cubic-bezier(0,.72,.44,.99);
    -o-transition: all 1s cubic-bezier(0,.72,.44,.99);
    transition: all 1s cubic-bezier(0,.72,.44,.99);
    opacity: 0;
}
.img-aniload-sh {
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    opacity: 1;
}











